:root {
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);

  color-scheme: var(--color-scheme);
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: var(--min-viewport-width);
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding-block) var(--header-padding-inline);
  background-color: var(--color-bg-secondary);
  border-bottom: var(--color-border-primary) 1px solid;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: var(--nav-gap);
  margin: 0;
}

form, p, table {
  margin: var(--spacing-sm);
}

hr {
  margin: var(--spacing-md) 0;
  border: dashed 1px var(--color-border-hr);
}

input[type="number"] {
  width: var(--input-width-number);
}

table {
  border-collapse: collapse;
}

th {
  text-align: right;
  width: var(--table-column-width-default);
}

td {
  text-align: right;
}

tr {
  border-bottom: 1px solid var(--color-border-secondary);
}

tbody tr:hover {
  background-color: var(--color-hover-bg);
}

@keyframes flash {
  0%   { background-color: unset; }
  25%  { background-color: var(--color-hover-bg); }
  100% { background-color: unset; }
}
